.App {
  text-align: center;
}

.App-logo {
  height: 5vw;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  width: 600px;
  height: 400px;
  background-color: #282c34;
  font-size: 75%;
  /* chrome extension popups do that for some reason, so setting it here to also work in local testing */
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  cursor: pointer;
  position: relative
}

.tabContainer {
  display: flex;
  flex-direction: row-reverse;
  color: white;
}

.msg-text {
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.tabContents {
  width: 100%;
}

.btn-with-text {
  width: 30px;
  height: 30px;
}

.btn-with-text:hover+p,
p:has(+ .btn-with-text:hover) {
  visibility: visible !important;
}

.hide {
  visibility: hidden;
}

.thumb {
  border-radius: 10px;
  width: 120px;
  height: 90px;
}

.iconDiv {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

#visible-ul>li {
  margin-bottom: 10px;
}

#unstored-ul>li {
  padding-bottom: 10px;
}

.progress-bar {
  position: absolute;
  width: 0%;
  transition: width 0.3s;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(220 13% 14% / 1);
  z-index: -24;
  border-radius: 0px 10px 10px 0px;
}

.arrange-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weight-700 {
  font-weight: 700;
}

.relative {
  position: relative
}