.App {
  text-align: center;
}

.App-logo {
  height: 84px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-around;
  height: 124px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  width: 600px;
  height: 400px;
  background-color: #282c34;
  font-size: 75%;
  /* chrome extension popups do that for some reason, so setting it here to also work in local testing */
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li {
  cursor: pointer;
  position: relative
}

.tabContainer {
  display: flex;
  flex-direction: row-reverse;
  color: white;
}

.msg-text {
  font-size: 2.3em;
  color: #fff;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.tabContents {
  width: 100%;
}

.btn-with-text {
  width: 30px;
  height: 30px;
  transition: scale 0.3s;
  scale: 100%;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.btn-with-text:hover {
  scale: 125%
}

.btn-with-text:hover+p,
p:has(+ .btn-with-text:hover) {
  visibility: visible !important;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.hide {
  visibility: hidden;
}

.thumb {
  border-radius: 10px;
  width: 120px;
  height: 90px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.iconDiv {
  display: flex;
  align-items: center;
}



.progress-bar {
  position: absolute;
  width: 0%;
  transition: width 0.3s;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(220 13% 14% / 1);
  z-index: -24;
  border-radius: 0px 10px 10px 0px;
}

.arrange-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weight-700 {
  font-weight: 700;
}

.relative {
  position: relative
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-shadow: black 5px 5px 5px;
}

hr {
  box-shadow: hsl(222 13% 16% / 1) 0px 0px 5px;
  border-color: hsl(222 13% 13% / 1);
  color: black;
  background-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 0;
}

.sub-header {

  padding-bottom: 10px;
  padding-top: 10px;
  background-color: hsl(220 13% 22% / 1);


}


.title {
  font-size: 17.5px
}

.button {
  padding: 7px;
  border-radius: 8px;
  margin-bottom: 12px;
}